html {
    overflow-y: scroll;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f1f1f1;
}


/* ==========================================================================
   Top nav bar
   ========================================================================== */

.navbar-brand {
    background: url('/img/logo.png') no-repeat;
    background-size: contain;
    width: 150px;
    display: block;
    margin-top: 8px;
    margin-left: 15px;
}

#navbar > ul > li {
    background: #083d49;
}

    #navbar > ul > li > a {
        color: #9cb1b5;
    }



    #navbar > ul > li.navbar-dashboard {
        background: #dce1e2;
        border-bottom-left-radius: 40px;
        width: 140px;
    }

        #navbar > ul > li.navbar-dashboard > a {
            color: #2e2f2f;
        }

.navbar-reports {
    border-bottom-left-radius: 40px;
    width: 140px;
}

#navbar > ul > li.dropdown > a {
    color: #FFF;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    color: #083d49 !important;
}

#navbar > ul > li.navbar-dashboard > a, #navbar > ul > li.navbar-reports > a {
    margin-left: 32px;
}

#navbar > ul > li.navbar-dashboard > a {
    display: block;
    width: 150px;
    background-color: #dce1e2;
}

#navbar > ul {
    float: right;
    border-right: 15px solid #083d49;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: inherit;
}

/* ==========================================================================
   Widget
   ========================================================================== */

.box {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.55);
    -moz-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.55);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.55);
}

.box-header {
    padding: 0 30px 0 10px;
    cursor: move;
    position: relative;
    color: #1e90bb;
}

    .box-header h4 {
        margin-top: 10px;
        display: inline-block;
    }

.box-content {
    padding: 10px;
}

.box-header-btns {
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
